@model IEnumerable<Product> 
    <!--Foreach ile dönülebilecek product nesnesini tanımladık-->
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Bı row her 4 col'da bir kapansın ve yeni bir row açılsın istiyoruz-->
<div class="row">

    @foreach(var product in Model)
    {
        @if (count !=0 && count % 4 == 0)
        {
            <!--Her 4 col'dan sonra yeni row aç, div aç kapa yapıyoruz-->
            @:</div>
            @:<div class="row">
        }
        <div class="col-3">
            <partial name="_ProductCard" model="@product" /> 
        </div>
        count++;

    }
</div>

              
<ul class="pagination">

    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@i">@i</a></li>
    }

</ul>
              
